body {
    color: white;
    font-family: 'Work Sans', 'Neue Helvetica', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
    padding: 16px 32px;
    background-repeat: repeat;
}

a {
    text-decoration: none;
    color: #fafafa;
    display: block;
}

/* custom elements */

.pixel-img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

.ps-front {
    transform-style: preserve-3d;
    transform: rotateX(6deg);
    transition: all 0.12s ease-out;
    opacity: 0.96;
}

.banner {
    max-width: 600px;
    min-height: 88px;
    display: flex;
    align-items: flex-start;
    padding: 18px;
    margin: 0 0 8px 0;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    color: white;
    border-radius: 2px;
    transition: all .16s ease-in;
    transform: scale(0.98);
}

.banner h3, .banner section {
    margin: 0;
}

/* animations */

.ps-front:hover {
    transform: scale(1.0) rotateX(0deg);
    -webkit-transform: scale(1.0) rotateX(0deg);
    transition: all 0.16s ease-in-out;
    opacity: 1;
}

.ps-front:active {
    transform: rotateX(6deg);
    transition: all 0.12s ease-out;
    opacity: 0.96;
}

.banner:hover {
    box-shadow: 0 4px 6px rgba(0,0,0,0.02);
    transition: all 0.26s ease-out;
    transform: scale(1.0);
}

.ps-front .banner:hover {
    transform: translateY(3px);
}

.banner:active {
    transition: all .16s ease-in;
    transform: scale(0.98);
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(2px); }
    100% { transform: translateY(0px); }
}

/* headings */

h1 {
    font-family: 'GAU_root_N';
    /* animation: float 6s ease-in-out infinite; */
}

h6 {
    font-family: 'GauFontPopMagic';
    transform: scaleY(1.82);
}

/* special text */

.special-text {
    font-family: 'GauFontPopMagic';
    transform: scaleY(1.5) translateY(0.75px);
}

.comment {
    opacity: 0.75;
    font-size: 12px;
}

.h-spans span {
    display: inline-block;
    margin: 0px 8px;
}

/* fonts */

@font-face {
    font-family: 'GauFontPopMagic';
    src: url('GauFontPopMagic.ttf.woff') format('woff'), url('GauFontPopMagic.ttf.svg#GauFontPopMagic') format('svg'), url('GauFontPopMagic.ttf.eot'), url('GauFontPopMagic.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GAU_root_N';
    src: url('GAU_root_N.ttf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
 * Copyright 2019 The Work Sans Project Authors (https://github.com/weiweihuanghuang/Work-Sans)
 * This Font Software is licensed under the SIL Open Font License, Version 1.1.
*/

@font-face {
    font-family: 'Work Sans';
    src: url('/work-sans/static/WOFF2/WorkSans-Regular.woff2') format('woff2'), url('/work-sans/static/WOFF/WorkSans-Regular.woff2') format('woff'), url('/work-sans/static/TTF/WorkSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/work-sans/static/WOFF2/WorkSans-Italic.woff2') format('woff2'), url('/work-sans/static/WOFF/WorkSans-Italic.woff2') format('woff'), url('/work-sans/static/TTF/WorkSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/work-sans/static/WOFF2/WorkSans-Bold.woff2') format('woff2'), url('/work-sans/static/WOFF/WorkSans-Bold.woff2') format('woff'), url('/work-sans/static/TTF/WorkSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/work-sans/static/WOFF2/WorkSans-BoldItalic.woff2') format('woff2'), url('/work-sans/static/WOFF/WorkSans-BoldItalic.woff2') format('woff'), url('/work-sans/static/TTF/WorkSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
