body {
    background-image: url("/site-bg/updatepost_bg.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: black;
    color: white;
    font-family: 'Aspekta', 'Neue Helvetica', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
    padding: 8px 0px 32px 0px;
}

.pages {
    display: inline-block;
    max-width: 820px;
}
.pages span {
    padding: 0 0 12px 0;
    display: inline-block;
}
.pages span img {
    display: inline-block;
    justify-content: center;
    border-radius: 0px;
}
.pages span p {
    display: inline-block;
    margin: 0px 24px 12px 24px;
    text-align: center;
}
/* --- floating animation --- */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-3px); }
    100% { transform: translateY(0px); }
}
/* --- HEADERS --- */
.header {
    display: flex;
    max-width: 720px;
    width: 80%;
    align-items: center;
    padding: 0px 20px 20px 20px;
    line-height: 22px;
    animation: float 6s ease-in-out infinite;
    animation-delay: 0s;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.hPage {
    font-size: 30px;
    font-family: 'GAU_root_N';
    text-align: left;
    letter-spacing: -1px;
    transform: scaleY(1.1);
    max-width: 480px;
    line-height: 100%;
}
.hComment {
    font-size: 18px;
    font-family: 'GauFontPopMagic';
    text-align: right;
    opacity: 0.85;
}
.hNav {
    text-align: center;
    opacity: 0.85;
    text-decoration: none;
    transition: opacity .24s ease-in-out;
    font-family: 'Blinker', 'Neue Helvetica', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
}
.hNav:hover, .hNav:active, .hNav:focus {
    opacity: 1;
    text-decoration: none;
}

.windowTitle {
    font-size: 9px;
    font-family: 'GauFontPopMagic';
    transform: scaleY(1.72);
    opacity: 0.95;
    letter-spacing: -0.3px;
    padding: 3px 12px;
    text-align: left;
}
.linkTitle {
    font-size: 14px;
    font-family: 'GauFontPopMagic';
    transform: scaleY(1.5) translateY(0.75px);
}
.heading {
    font-size: 10px;
    font-family: 'GauFontPopMagic';
    transform: scaleY(1.82);
}

/* --- FONT FACES --- */
@font-face {
    font-family: 'GauFontPopMagic';
    src:url('GauFontPopMagic.ttf.woff') format('woff'), url('GauFontPopMagic.ttf.svg#GauFontPopMagic') format('svg'), url('GauFontPopMagic.ttf.eot'), url('GauFontPopMagic.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GAU_root_N';
    src:url('GAU_root_N.ttf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/**
 * Aspekta
 * @version 2.000
 *
 * @link https://github.com/ivodolenc/aspekta
 *
 * @author Ivo Dolenc (c) 2022
 * @license Open Font License (OFL) v1.1
 *
 * Font Family: Aspekta
 * Font Styles: 50-1000 Normal
 */

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 50;
  font-display: swap;
  src: url('Aspekta-50.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('Aspekta-100.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 150;
  font-display: swap;
  src: url('Aspekta-150.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('Aspekta-200.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 250;
  font-display: swap;
  src: url('Aspekta-250.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('Aspekta-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 350;
  font-display: swap;
  src: url('Aspekta-350.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Aspekta-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 450;
  font-display: swap;
  src: url('Aspekta-450.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('Aspekta-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 550;
  font-display: swap;
  src: url('Aspekta-550.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('Aspekta-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 650;
  font-display: swap;
  src: url('Aspekta-650.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('Aspekta-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 750;
  font-display: swap;
  src: url('Aspekta-750.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('Aspekta-800.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 850;
  font-display: swap;
  src: url('Aspekta-850.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('Aspekta-900.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 950;
  font-display: swap;
  src: url('Aspekta-950.woff2') format('woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 1000;
  font-display: swap;
  src: url('Aspekta-1000.woff2') format('woff2');
}

/* --- LINKS --- */
a {
    color: white;
    text-decoration: none;
    animation: dehover-anim 0.32s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
}
@keyframes dehover-anim {
    0% { text-shadow: 0px 0.75px 5px rgba(255,255,255, 0.75); }
    100% { text-shadow: 0px -2px 5px rgba(255,255,255, 0); }
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover, a:active, a:focus {
    color: white;
    text-decoration: none;
    animation: hover-anim 0.08s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes hover-anim {
    0% { text-shadow: 0px -2px 5px rgba(255,255,255, 0); }
    100% { text-shadow: 0px 0.75px 5px rgba(255,255,255, 0.75); }
}

/* --- FOR LISTS + POSTS --- */
.myDivPost {
    padding: 0px 20px 20px 20px;
    max-width: 1100px;
    float: center;
    text-align: left;
    line-height: 22px;
}
.listingDiv {
    padding: 0px 20px 20px 20px;
    max-width: 500px;
    float: center;
    text-align: left;
}
.myDivPost img, .listingDiv img {
    justify-content: center;
    margin-top: 10px;
    border-radius: 0px;
    max-width: 100%;
}

/* --- WINDOWS --- */
/* --- background-filter could be unsupported lol --- */
.windowframe {
    left: 0;
    background: repeating-linear-gradient(45deg, rgba(25,40,55,0.35) 35%, rgba(25,40,0,0.35) 35%, rgba(25,40,55,0.35) 30%, rgba(70,85,100,0.35) 65%, rgba(70,85,100,0.35) 75%, rgba(25,40,55,0.35) 90%);
    background-attachment: fixed;
    background-clip: padding-box;
    border-radius: 6px;
    box-shadow: inset 0 0 1.65px 1px rgba(246,246,247,0.14), inset 0 0 4px 2.25px rgba(0,0,0,0.02), 0 3px 9px rgba(0,0,0,0.26), inset 0 1.5px 6.35px rgba(246,246,247,0.16);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    -moz-backdrop-filter: blur(16px);
    border: 1.5px solid rgba(2,3,4,0.26);
    width: 640px;
    overflow: hidden;
    transform: translateX(0) translateY(0);
    z-index: 0;
}
.windowframe:target {
    box-shadow: inset 0 1px 0.35px 2px rgba(255,255,255,0.22) inset 0 3px 0.35px 2px rgba(0,0,0,0.22) 0 6px 20px rgba(0,0,0,0.35);
    z-index: 1;
}
.title {
    color: white;
    float: left;
    margin-left: 9px;
    margin-top: 8px;
}

/* --- TEXTBOX --- */
.textbox {
    left: 6px;
    right: 6px;
    top: 28px;
    bottom: 6px;
    background: rgba(255,255,255,1);
    border-radius: 0px;
    box-shadow: inset 0 0 0.85px 1px rgba(0,0,0,0.12);
    color: black;
    overflow: scroll;
    position: absolute;
    z-index: 1;
}

/* --- ZOOM ANIM TEMPLATES --- */
.zoomExample:hover, .zoomExample:active, .zoomExample:focus {
    transform: scale(1.05); /* 105% zoom */
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}
.zoomExample {
    transition: transform .2s; /* Animation */
}

/* --- collapsibles stuff --- */
/* --- https://www.digitalocean.com/community/tutorials/css-collapsible thanks --- */
.wrap-collapsible {
    margin-bottom: 20px 0;
}
input[type='checkbox'] {
    display: none;
}
.collapsible-content {
    max-height: 56px;
    overflow: hidden;
    transition: max-height .1s ease-in-out;
    border-radius: 2px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    -moz-backdrop-filter: blur(16px);
}
.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
}
.collapsible-content .content-inner {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    padding: 2px 16px 10px;
}

/* --- THUMBNAILS WITH CAPTIONS --- */
/* TEMPLATE HTML:
<div class="thumb">
  <span>
    <a href="LINK"><img src="THUMBNAIL.png" width="160" height="120">
      <p style="font-size:16px;transform: scaleY(1.82);font-family: 'GauFontPopMagic'; display: inline-grid;">TITLE</p>
    </a><p>DESCRIPTION</p>
  </span>
</div>
*/
.thumb {
    display: grid;
    padding: 0px 32px;
    float: center;
    flex-wrap: wrap;
}
.thumb span {
    float: center;
    padding: 12px 0px;
    flex-wrap: wrap;
}
.thumb span img {
    float: left;
    margin-right: 20px;
    margin-bottom: 16px;
    justify-content: center;
    border-radius: 4px;
    transition: transform .2s; /* Animation */
}
.thumb span p {
    text-align: left;
    justify-content: center;
    margin-bottom: -5px;
}
.thumb span img:hover, .thumb span img:active, .thumb span img:focus {
    transform: scale(1.05); /* 105% zoom */
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

/* --- CAROUSEL HERE --- */
.carousel {
    position: relative;
    max-width: 500px;
    min-height: 250px;
    float: center;
    text-align: center;
    flex-wrap: wrap;
    overflow: hidden;
    height: auto;
    display: block;
}
.carousel-item {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    flex-wrap: wrap;
    opacity: 0;
    float: center;
    transition: all 0.0s ease-in-out;
    display: grid;
    margin-top: 4px;
}
.carousel-item img {
    float: center;
    justify-content: center;
    border-radius: 4px;
}
.carousel-item p {
    text-align: center;
    justify-content: center;
    margin-bottom: -5px;
}
.carousel-item img:hover, .carousel-item img:active, .carousel-item img:focus {
    transform: scale(1.05); /* 105% zoom */
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}
.carousel-item img {
    transition: transform .2s; /* Animation */
}

.arrow {
    border: solid rgba(255,255,255,0.75);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
}
.arrow-prev {
    left:-20px;
    position:absolute;
    top: 60px;
    transform:translateY(-50%) rotate(135deg);
    margin-left: 30px;
}
.arrow-next {
    right:-20px;
    position:absolute;
    top: 60px;
    transform:translateY(-50%) rotate(-45deg);
    margin-right: 30px;
}

/* Select every element */
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
}
.item-2 {
}
.item-3 {
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}
